@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-size: 62.5%;
}

body{
    // @apply bg-stone-100 ;
}

li{
    @apply text-lg text-white font-bold transition-all;

    &:hover{
        @apply text-gray-600  translate-x-1;

    }
}


.error{
   
    color: red;
    font-size: .8rem ;
}

.btn-primary{
    @apply bg-black text-white px-8 py-4 rounded-md;
}

.btn-secondary{
    @apply  py-2 px-4 rounded-sm;
    background-color:#fd5732 ;
}


.note{
    animation: note 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards  ;
}


@keyframes note{
    0% { transform: scale(.9); opacity: 0.5;}
    50% {transform: scale(1.2); opacity: 1;}
    100% {transform: scale(1); opacity: 1;}
    
}

.containers{
    @apply mx-auto px-4;


}


.dropdown{
    cursor: pointer;
}


.react-tabs__tab--selected{
    border-radius: 0px!important;
}